  /* DIE DEFAULT GRÖSSEN SIND FÜR MOBIL UND DEFAULT */



p {   

  font-family: "Arial Narrow", Arial, sans-serif;
  font-size:100px;  
  /*padding:0;
  margin:0;*/
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: red;
  filter: blur(2px);
  text-align: center;

}

#myVideo {

    mix-blend-mode: multiply;

}

#myVideo2 {

    mix-blend-mode: darken;
    
}

#transitionLayer{

  color: black;
}

#button{
  position:fixed;
  left:100px;
}


#oldie {

  background:rgb(200,100,0) !important;
  color:#fff;

}

#vt { display:none }
#vt, #vt a { color:orange; }

#videocover {

  position: absolute;

}

#runtext {

  height: 100%;
  width: 100%;

}


#Text {

  position: absolute;
    height: 200px;
    width: 400px;
    margin: -100px 0 0 -200px;
    top: 50%;
    left: 50%;
	
}

#Timestamps {

  padding-left: 10px; 
  padding-top: 10px; 
  position: absolute;

}


#Timestamp1, #Timestamp2, #Timestamp3, #Timestamp4, #Timestamp5, #Timestamp6, #Timestamp7 {

    text-align:left; 
    font-size:40px; 
    /*-webkit-text-stroke-width: 3px; 
    filter: blur(1px);*/

  }

#container {

    max-width: 960px;
    margin: auto;
    background-repeat: no-repeat;
    background-position: center;
}

#background {
    /*transition: background 0.5s linear;
    -webkit-transition: background 3s linear;*/
    height: 100%;
    width: 100%;
    /*background-color: black;*/
    /*position: absolute;*/
}

#video_container{

  position: absolute;

}

#video{

  position: absolute;

}

/* HIER KOMMEN DIE STYLES FÜR EINE BROWSERGRÖSSE VON AB 960px REIN, KANNST ABER AUCH KLEINE RMACHEN, Z.B: AB 800px; */

@media only screen and (min-width: 960px) {
  #Timestamp1, #Timestamp2, #Timestamp3, #Timestamp4, #Timestamp5, #Timestamp6, #Timestamp7 {

    font-size: 100px; 

    
}

